body{
    background: rgb(252, 217, 175);
    text-align: center;
}
.logo{ 
    width:220px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #b05959;
}
.navButton{
    color: rgb(252, 217, 175);
    background: #b05959;
    padding-left: 10px;
    padding-right: 10px;
}
.allButton{
    background: #ffffff;
    color: #b05959;
    margin-top: 40px;
    text-transform: uppercase;
    border-radius: 20px;
}
#mapid{ 
    height: 180px;
    margin-top: 50px; 
    border-radius: 20px;
}